:root {
    /* stylelint-disable */
    --md-primary-fg-color:        #aa2025;
    --md-primary-fg-color--light: #b17272;
    --md-primary-fg-color--dark:  #5b1b1f;
    /* stylelint-enable */
  }

#map {
    width: 100%;
    height: 400px;
    margin: 0;
}

#records_summary_table {
  width: 100%;
  overflow-x: scroll;
  background-color: #5b1b1f;
}

table.dataTable th {
  font-size: 0.8em;
  padding:0;
  margin:0;
}
table.dataTable td {
  font-size: 0.6em;
  padding:0;
  margin:0;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 2px 4px;
}