<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Report Summary Page</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
</head>
<style>
#map { 
  height: 380px; 
  width: 100%;
  margin: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width:1200px;
  margin: auto;
}
h1 {
  margin: 30px;
  padding: 10px 140px;
  border-radius: 10px;
  font-size: 30px;
  background-color: blue;
  color: white;
}
h1 a {
    color: white;
}
h2 {
  margin: 0px 0 20px 0;
  font-size: 25px;
  max-width: 1000px;
  text-align: center;
}
h3 {
  font-size: 20px;
  background-color: blue;
  color: white;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin: 60px 0 30px 0
}
#table_wrapper {
    padding: 10px;
}

#pie-chart {
    width: 100%;
    heigh: 380px;
}
@media (min-width: 1200px) {
  h3 {
    border-radius: 10px;
  }
  #map {
    border-radius: 10px;
  }
}
</style>
<body>
    <h1>Report Summary<br><a href="{{ckan_url}}">{{ckan_url}}</a></h1>
    <p>
      This page present a summary of:<br>
      <a href="#records_summary">records hosted on the catalogue</a><br>
      <a href="#issues_summary">issues detected in some records</a>
    </p>
    <div id='map'></div>
    <div id='pie-chart'>{{ issues_pie_chart }}</div>
    <h3 id="records_summary">Records Summary</h3>
    <div class="download-area"> Download <a id="download-summary-excel" href='catalog_summary.xlsx' class="btn btn-primary">Excel</a> <a id="download-summary-csv" href='catalog_summary.csv' class="btn btn-primary">CSV</a></div>
    {{ catalog_summary.drop(columns=['id','name','spatial','vertical-extent','organization','private']).to_html( index=False, render_links=True, table_id='records_table', escape=False, classes='table table-striped table-hover table-sm')}}
    <h3 id="issues_summary">Issues Summary</h3>
    {{ issues_table[['title','level','message','links']].to_html( index=False, render_links=True, table_id='issues_table', escape=False, classes='table table-striped table-hover table-sm')}}
    <small>Last update: {{ time.isoformat() }}</small>
</body>
<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
<script>
    var map = L.map('map').setView([51.505, -125.09],3);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var geojsonFeatures = [
        {% for id,row in catalog_summary.dropna(subset=['name','spatial'], how='any').iterrows() %}
        {
            "type":"Feature",
            "properties": {
                "name": "{{row['name']}}",
                "row_id": "{{id}}"
            },
            "geometry": {{row['spatial']}}
        },
        {% endfor %}
    ];
    L.geoJSON(geojsonFeatures).addTo(map);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#records_table').DataTable();
} );
$(document).ready( function () {
    $('#issues_table').DataTable();
} );
</script>
</html>
